.cart {
    display: flex;
    justify-content: center;
}

.cart .title {
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.03);
    font-size: 22px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.two-blocks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cart-products {
    align-self: start;
    width: 720px;
    border-radius: 10px;
    border: solid 1px rgba(0,0,0,0.2);
    padding: 15px 10px;
    padding-right: 20px;
    margin-bottom: 200px;
}

.item {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}

.item:not(:last-child){
    margin-bottom: 15px;
}


.item img {
    height: 100px;
    grid-column: 1/2;
    grid-row: 1/4;
}

.name {
    font-weight: normal;
    font-size: 20px;
    align-self: center;
}

.descr {
    font-size: 14px;
    color: rgba(0,0,0,0.5);
    grid-row: 2/3;
}

.btn-remove {
    font-size: 15px;
    color: rgba(151, 9, 9, 0.75);
    text-decoration: underline;
    grid-row: 3/4;
    grid-column: 3/4;
    align-self: end;
    justify-self: end;
}

.btn-remove:hover {
    cursor: pointer;
}

.price {
    font-weight: bold;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
    align-self: center;
}

.count {
    width: 90px;
    display: flex;
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 7px;
    justify-self: end;
    align-self: end;
    margin-right: -5px;
}

.count input {
    outline: none;
    /* border: solid 1px rgba(0,0,0,0.2); */
    border: none;
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    padding-left: 7px;
}

.edit-count {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: rgba(0,0,0,0.5);
    font-weight: bold;
}

.edit-count:hover {
    cursor: pointer;
    color: rgba(0,0,0,0.7);
}

.count .left {
    border-right: solid 1px rgba(0,0,0,0.2);
}

.count .right {
    border-left: solid 1px rgba(0,0,0,0.2);
}

.availability {
    grid-row: 3/4;
    align-self: end;
    font-size: 15px;
    color: rgba(0,0,0,0.7);
}

.availability b {
    color: rgb(71, 189, 35);
}

.amount {
    font-size: 16px;
    color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.order {
    width: 250px;
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order .result {
    font-size: 20px;
    /* font-weight: bold; */
    align-self: flex-start;
    margin-bottom: 30px;
}

.result b {margin-left: 5px;}

.place-order {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(69, 129, 219);
    color: white;
}

.place-order:hover {
    cursor: pointer;
}

body {
    position: relative;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
}

.modalPanel {
    display: none;
    /* height: 100vh; */
    /* width: 100%; */
}

.order-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    /* opacity: 0.5; */
    z-index: 500;
    display: flex;
    justify-content: center;
}

.panel {
    position: relative;
    margin-top: 100px;
    width: 500px;
    height: 560px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.close {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 35px;
    color: rgb(73, 73, 73);
}

.close:hover {
    color: black;
    cursor: pointer;
}

.panel .title {
    font-size: 23px;
    padding: 6px 15px;
    text-align: center;
    color: rgb(27, 27, 27);
    background: rgba(0, 0, 0, 0.03);
    width: 100%;
}

.panel .title span {
    font-size: 20px;
}

.panel input {
    outline: none;
    height: 50px;
    width: 250px;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 5px;
    margin-top: 5px;
    border: solid 1px rgb(107, 107, 107);
}
.send-data {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(69, 129, 219);
    color: white;
    /* transition: ; */
}
.send-data:hover {
    cursor: pointer;
}