body {
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.new-title {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

br {
    margin: 15px 0;
}

.new-img {
    height: 400px;
    margin-bottom: 150px;
    margin-top: 30px;
}

.d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}