body {
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.reviews {
    display: flex;
    justify-content: center;
}

.title {
    height: 50px;
    background: rgba(0, 0, 0, 0.03);
    font-size: 22px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.review {
    display: grid;
    grid-template-columns: 125px auto;
    grid-template-rows: auto 20px 20px auto;
    border: solid 1px rgb(230, 230, 230);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}
.raiting {
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
    margin-left: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.raiting p {
    font-size: 16px;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.7);
}

.rating-mini {
	display: inline-block;
	font-size: 0;
}

.rating-mini span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
}

.rating-mini > span:before {
	content: '★';
}

.rating-mini > span.active {
	color: gold;
}

.name {
    font-weight: bold;
    font-size: 18px;
}

.date {
    font-size: 15px;
    color: rgb(184, 184, 184);
    grid-column: 1/2;
    grid-row: 3/4;
}

.city {
    font-size: 15px;
    color: rgb(184, 184, 184);
    grid-column: 1/2;
    grid-row: 4/5;
}

.review-text {
    font-size: 16px;
    grid-column: 2/3;
    grid-row: 3/5;
    margin-left: 20px;
}
