@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    /* background: rgba(0, 0, 0, 0.03); */
}

.wrapper {
    width: 1000px;
}

header {
    position: relative;
    height: 60px;
    width: 100%;
    background: rgb(69, 129, 219);
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px #000;
    z-index: 100;
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-btns, .right-btns{
    display: flex;
}

.btn {
    background: white;
    height: 40px;
    width: 130px;
    border-radius: 10px;
    margin: 0 5px;
}

.btn a {
    text-decoration: none;
    color: rgb(22, 22, 22);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.btn:hover {
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.btn a:hover {
    opacity: .8;
} 

.home {
    width: 45px;
}

.home img {
    height: 25px;
    width: 25px;
}

.btn-img {
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.search {
    height: 40px;
    background: #fff;
    border-radius: 10px;
    width: 30vw;
    display: flex;
    align-items: center;
}

.search img {height: 25px; margin-left: 5px;}
.search input {outline: none; border-radius: 10px; height: 40px; border: none; width: 100%; padding-right: 10px; padding-left: 5px;}
/* .search */

.sale-products {
    position: relative;
    background: #fff;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    margin-top: 60px;
}

.sale-products .title {
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.03);
    font-size: 22px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 30px;
}

.cards {
    width: 100%;
    justify-content: center;
    display: flex;

}

.card-1 {
    height: 350px;
    width: 250px;
    background: rgba(0, 0, 0, 0.025);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    margin: 0 20px;
}

.card-1 img{
    height: 200px;
}

.price-last {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
}

.price-new {
    font-size: 20px;
}

.name {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
}

.buy {
    background: rgb(69, 129, 219);
}

.buy a {
    color: white;
}

.top-categories {display: flex; justify-content: center;}

.top-categories .title {
    height: 50px;
    background: rgba(0, 0, 0, 0.03);
    font-size: 22px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.categories {
    position: relative;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.category-1 {
    position: relative;
    width: 350px;
    height: 100%;
    border-top-right-radius: 40px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.category-1 div {
    position: relative;
    color: white;
    z-index: 50;
    font-size: 18px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    background: linear-gradient(90deg, rgb(69, 129, 219) 0%, rgba(0,212,255,0) 100%);
    border-top-right-radius: 40px;
}

.category-1 img {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: -260px 0;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: border-radius 0.2s;
}

.category-1:hover img, .category-2:hover img, .category-3:hover img, .category-4:hover img{
    border-radius: 0;
    opacity: 0.9;
}

.category-2 {
    position: relative;
    width: 630px;
    height: 230px;
    border-top-right-radius: 40px;
    grid-column: 2/4;
    grid-row: 1/2;
}

.category-2 div {
    position: relative;
    color: white;
    z-index: 50;
    font-size: 18px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    background: linear-gradient(90deg, rgb(69, 129, 219) 0%, rgba(0,212,255,0) 100%);
    border-top-right-radius: 40px;
}

.category-2 img {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: -240px 0; */
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: border-radius 0.2s;
}

.category-3 {
    position: relative;
    width: 305px;
    height: 250px;
    border-top-right-radius: 40px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.category-3 div {
    position: relative;
    color: white;
    z-index: 50;
    font-size: 18px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    background: linear-gradient(90deg, rgb(69, 129, 219) 0%, rgba(0,212,255,0) 100%);
    border-top-right-radius: 40px;
}

.category-3 img {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: -240px 0; */
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: border-radius 0.2s;
}

.category-4 {
    position: relative;
    width: 305px;
    height: 250px;
    border-top-right-radius: 40px;
    grid-column: 3/4;
    grid-row: 2/3;
}

.category-4 div {
    position: relative;
    color: white;
    z-index: 50;
    font-size: 18px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    background: linear-gradient(90deg, rgb(69, 129, 219) 0%, rgba(0,212,255,0) 100%);
    border-top-right-radius: 40px;
}

.category-4 img {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: -240px 0; */
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: border-radius 0.2s;
}

.news {
    display: flex;
    justify-content: center;
}

.news .title {
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.03);
    font-size: 22px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 40px;
}

.block-news {
    display: flex;
    height: 240px;
    justify-content: space-between;
}

.new {
    /* height: 100%; */
    width: 480px;
    display: flex;
    border: solid 1px rgba(0, 0, 0, 0.05);
}

.new-logo {
    width: 50%;
}

.new-content {
    padding: 10px 10px;
    padding-right: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.new-title {
    font-size: 17px;
    font-weight: bold;
}

.new-content .descr {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.new-content .more {
    align-self: flex-end;
    color: rgb(69, 129, 219);
}

.new-content .more a {
    color: rgb(69, 129, 219);
    /* text-decoration: none; */
}

.new-btn {
    width: 100%;
    height: 50px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    transition: background 0.3s;
}

.new-btn a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    transition: color .3s;
}

.new-btn:hover {
    background: rgb(69, 129, 219);
    border: none;
}

.new-btn:hover a {
    color: white;
}

footer {
    width: 100%;
    height: 150px;
    background: rgb(17, 41, 77);
    margin-top: 60px;
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
    font-size: 14px;
}

.footer-blocks {
    display: flex;
    justify-content: space-between;
}

.btn-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-links a {
    text-decoration: none;
    color: white;
}

.btn-links a:hover {text-decoration: underline;}

.shop-contants {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.shop-contants a {
    color: white;
    text-decoration: underline dotted;
}